@import "tailwindcss";

:root {
  --orange-soda: hsl(9, 100%, 62%);
  --dark-jungle-green: hsl(188, 63%, 7%);
  --cadet: hsl(200, 15%, 43%);
  --cultured-2: hsl(192, 24%, 96%);
  --yellow-green: hsl(89, 72%, 45%);
  --raisin-black-1: hsl(227, 29%, 13%);
  --section-padding: 100px;



}

